# This template may not always be up-to-date - check the internal ops repository for the most up-to-date version

API_PROXY_HOST=
API_ROOT_PATH=
API_ENABLE_SSL=0
SOURCE_DATA_ROOT=
INGEST_STAGING_ROOT=
LOGS_ROOT=
TSDB_HOST=mango-db
TSDB_PORT=5432
PERSIST_LOCATION=

DB_PASSWORD=