# This template may not always be up-to-date - check the internal ops repository for the most up-to-date version

API_PROXY_HOST=
API_ROOT_PATH=
API_ENABLE_SSL=0
SSL_CERT_FILE=
SSL_KEY_FILE=
DATA_ROOT=
SOURCE_DATA_ROOT_SUBPATH='input-data-dropbox'
STAGED_DATA_ROOT_SUBPATH='ingest-manager-staged-data'
LOGS_ROOT=
INGEST_STAGING_ROOT=
OFFRED_METADATA_FILEPATH=
TSDB_HOST=mango-db
TSDB_PORT=5432
TSDB_PERSIST_ROOT=

DB_PASSWORD=